/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.shopping-cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.price {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.sub-total {
    font-size: 14px;
    color: #555;
}

.delete-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.quantity-input {
    /* Change the color to your desired color */
    color: #400040; /* For example, blue color */
}


/* Responsive Styles */
@media (max-width: 768px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .box {
        width: calc(100% - 20px);
    }
}
